{erl_opts, [{src_dirs, [src, intercepts]},
           warnings_as_errors, {parse_transform, lager_transform}]}.
{erl_first_files, ["src/rt_intercept_pt.erl"]}.

{eunit_opts, [verbose]}.

{deps, [
        {lager,         ".*",   {git, "https://github.com/basho/lager",                   {tag, "3.2.4"}}},
        {getopt,        ".*",   {git, "https://github.com/basho/getopt.git",              {tag, "v0.8.2"}}},
        {meck,          ".*",   {git, "https://github.com/basho/meck.git",                {tag, "0.8.2"}}},
        {mapred_verify, ".*",   {git, "https://github.com/basho/mapred_verify",           {tag, "0.1"}}},
        {riakc,         ".*",   {git, "https://github.com/basho/riak-erlang-client",      {branch, "develop"}}},
        {riakhttpc,     ".*",   {git, "https://github.com/basho/riak-erlang-http-client", {branch, "develop"}}},
        {kvc,           ".*",   {git, "https://github.com/basho/kvc.git",                 {tag, "v1.5.0"}}},
        {druuid,        ".*",   {git, "https://github.com/basho/druuid.git",              {tag, "0.2"}}},
        {tdiff,         ".*",   {git, "https://github.com/basho/tdiff",                   {tag, "0.1"}}}
]}.
